{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Coffee and Restaurant{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Coffee & Restaurant 🍽️</h1>
  <p class="lead">Want to grab a bite or drink a cup of hot coffee?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout my collection of cafes and restaurants.</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">coffee!☕️</a>
  <a class="btn btn-warning btn-lg" href="{{ url_for('restaurants') }}" role="button">restaurant!🍽️</a>
</div>
    </div>

{% endblock %}
